@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    
}


body{
    font-family: 'Inter', sans-serif;
    background: linear-gradient(160deg, #667ef2 0, #486ee5 50%, #195fd8 100%);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}


.conteudo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15vh;
    color: aliceblue;
}

.rodape{
    position: absolute;
    bottom: 1vh;
    color: aliceblue;
}

.titulo{
    font-size: 40px;
    padding-bottom: 15px;
}

.iniciar{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-size: 16px;
}

.iniciar:hover{
    background-color: rgb(179, 219, 255);
}

.botao{
    margin-top: 80px;
    width: 300px;
    height: 100px;
    border-radius: 40px;
    font-size: 30px;
}

.botao:hover{
    background-color: rgb(179, 219, 255);
}

.botaoClick{
    background-color: white;
    margin-top: 80px;
    width: 300px;
    height: 100px;
    border-radius: 40px;
    font-size: 30px;
}

#clicks{
    font-size: 20px;
    margin-top: 30px;
}

#secondsTest{
    width: 40px;
    height: 20px;
}
